.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
    color: black;
}

.navbar a {
    text-decoration: none;
}

.banner {
    background-color: #4D00ff;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}

#small-gritty {
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black);
}

#gritter {
    color: #4D00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

a.blue {
    color: blue;
}

#greets ul {
    list-style-type: none;
}

.gritter-section {
    padding: 20px 50px;
}

.avatar {
    display: inline-block;
    background-image: url(../css/images/gritty.jpeg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}